
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="{:url('Weapp/index')}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>{$weappInfo['name']}</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
				<li>
				    <a href="{:weapp_url('ClearCopyright/ClearCopyright/index', ['inc_type'=>'clear_copyright'])}" class="tab {eq name='$inc_type' value='clear_copyright'}current{/eq}"><span>去版权</span></a>
				</li>
            </ul>
        </div>
    </div>