<a class="zan" id="click_zan_{$Request.param.aid}" href="javascript:void(0);" data-url="/index.php?m=plugins&c=zan&a=add&_ajax=1" onclick="ClickZan(this, '{$Request.param.aid}')">
    赞：<span id="click_like_{$Request.param.aid}">{$plugins.zan.LikeCount|default='0'}</span>	
</a>