<script type="text/javascript">
    var ey_jquery_1575368893 = false;
    if (!window.jQuery) {
        ey_jquery_1575368893 = true;
    } else {
        var ey_jq_ver_1575368893 = jQuery.fn.jquery;
        if (ey_jq_ver_1575368893 < '1.8.0') {
            ey_jquery_1575368893 = true;
        }
    }
    if (ey_jquery_1575368893) {
        document.write(unescape("%3Cscript src='__ROOT_DIR__/public/static/common/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript type='text/javascript'%3E try{jQuery.noConflict();}catch(e){} %3C/script%3E"));
    }
    // 引入jquery开关，下面这行代码请勿删除！
    console.log('ey_is_jquery');
</script>
{eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
{eyou:static file="skin/js/zan_list.js" code="zan"/}
{eyou:static file="skin/css/zan.css" code="zan"/}
<main class="ey_zan_row" id='ey_zan{$field.aid|default='0'}'>
    <!-- 这里ajax异步加载评价内容 -->
    加载中~
</main>


<script type="text/javascript">
    // 第一次刷新，自动加载执行
    ajaxZan_1572491762("{$field.aid|default='0'}", '__ROOT_DIR__');
</script>