<input type="hidden" id="title_1595557091" value="{$eyou.field.title|default=''}">
<script type="text/javascript">var root_dir_1595557091='__ROOT_DIR__';</script>
<script language="javascript" src="__WEAPP_TEMPLATE__/skin/js/collection.js"></script>