{include file="public/layout" /}
<body class="bodystyle" style="overflow-y: scroll; cursor: default; -moz-user-select: inherit;">
<style type="text/css">
    .system_table{ border:1px solid #dcdcdc; width:100%;}
    .system_table td{ height:40px; line-height:40px; font-size:12px; color:#454545; border-bottom:1px solid #dcdcdc; border-right:1px solid #dcdcdc; width:35%; padding-left:1%;}
    .system_table td.gray_bg{ background:#f7f7f7; width:15%;}
</style>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="flexigrid">
        
        <form class="form-horizontal" id="postForm" action="{:url('Shop/order_mark_status')}" method="post">
            <input type="hidden" name="order_id" id="order_id" value="{$OrderData.order_id}">
            <input type="hidden" name="order_code" value="{$OrderData.order_code}">
            <input type="hidden" name="users_id" value="{$OrderData.users_id}">
            <input type="hidden" name="consignee" value="{$OrderData.consignee}">
            <div class="hDiv htitx">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                            <tr>
                                <th class="sign w10" axis="col0">
                                    <div class="tc"></div>
                                </th>
                                <th abbr="article_title" axis="col3" class="w10">
                                    <div class="tc">订单信息</div>
                                </th>
                                <th abbr="ac_id" axis="col4">
                                    <div class=""></div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="ncap-form-default">
                <table cellpadding="0" cellspacing="0" class="system_table">
                    <tbody>
                        <tr>
                            <td class="gray_bg">订单ID：</td>
                            <td>{$OrderData.order_id}</td>
                            <td class="gray_bg">订单编号：</td>
                            <td>{$OrderData.order_code}</td>
                        </tr>
                        <tr>
                            <td class="gray_bg">用户名：</td>
                            <td>{$UsersData.username}</td>
                            <td class="gray_bg">邮箱地址：</td>
                            <td>{$UsersData.email}</td>
                        </tr>
                        <tr>
                            <td class="gray_bg">手机号码：</td>
                            <td>{$UsersData.mobile}</td>
                            <td class="gray_bg">应付金额：</td>
                            <td>
                                <input type="hidden" id="order_amount_old" value="{$OrderData.order_amount}">
                                <span id="order_amount">￥{$OrderData.order_amount}</span>
                                {gt name="$OrderData.shipping_fee" value="0"}(含运费:{$OrderData.shipping_fee}){/gt}
                                
                                {eq name="$OrderData.order_status" value="0"}
                                    <a href="JavaScript:void(0);" style="color: red;" onclick="PromptChangePrice();">[改价]</a>
                                {else/}
                                    {gt name="$OrderData.order_total_amount" value="$OrderData.order_amount"}
                                        <span style="color: red;" title="应付金额已被更改过">[已改价]</span>
                                    {/gt}
                                {/eq}
                            </td>
                        </tr>
                        <script type="text/javascript">
                            // 弹出改价输入框
                            function PromptChangePrice() {
                                layer.prompt({
                                    title: false, 
                                    formType: 3,
                                    id: 'BulkSetPrice',
                                    btn: ['确定', '关闭'],
                                    closeBtn: 0,
                                    success: function(layero, index) {
                                        $("#BulkSetPrice").find('input').attr('placeholder', '请输入应付金额');
                                        $("#BulkSetPrice").find('input').attr('value', $('#order_amount_old').val());
                                        $("#BulkSetPrice").find('input').attr('onkeyup', "this.value=this.value.replace(/[^\\d.]/g,'')");
                                        $("#BulkSetPrice").find('input').attr('onpaste', "this.value=this.value.replace(/[^\\d.]/g,'')");
                                        var msg = '<span style="color: red;">改价后让用户重新进入订单列表点击支付</span>';
                                        $("#BulkSetPrice").append(msg);
                                        // 修改订单金额后为保证支付金额准确有效<br/>请让用户刷新订单列表页后重新点击支付
                                    }
                                }, function(price, index) {
                                    if (0 < price) {
                                        layer.close(index);
                                        OrderChangePrice(price);
                                    } else {
                                        layer.msg('应付金额不允许为0', {time: 1500});
                                    }
                                });
                            }

                            // 提交改价数据并追加一条订单操作记录
                            function OrderChangePrice(Price) {
                                if (0 >= Price) layer.msg('应付金额不允许为0', {time: 1500});
                                layer_loading('正在处理');
                                $.ajax({
                                    type : 'post',
                                    url  : "{:url('Shop/order_change_price')}",
                                    data : {
                                        order_id: $('#order_id').val(),
                                        order_amount_old: $('#order_amount_old').val(),
                                        order_amount: Price,
                                        _ajax: 1
                                    },
                                    dataType : 'json',
                                    success : function(res) {
                                        layer.closeAll();
                                        if (1 == res.code) {
                                            layer.msg(res.msg, {time: 1500}, function() {
                                                window.location.reload();
                                            });
                                        } else {
                                            layer.alert(res.msg, {title: false, closeBtn: 0}, function() {
                                                window.location.reload();
                                            });
                                        }
                                    }
                                });
                            }
                        </script>
                        <tr>
                            <td class="gray_bg">支付方式：</td>
                            <td>
                                {eq name="$OrderData.payment_method" value="1"}
                                    货到付款
                                {/eq}
                               {eq name="$OrderData.payment_method" value="0"}
                                   在线支付
                                {/eq}
                               {eq name="$OrderData.payment_method" value="2"}
                                    上传凭证支付
                                {/eq}
                            </td>
                            <td class="gray_bg">订单状态：</td>
                            <td>
                                {$admin_order_status_arr[$OrderData.order_status]|default=''}
                                {eq name="$OrderData.order_status" value="2"}
                                    &nbsp;<a href="{:url('Shop/order_send',array('order_id'=>$OrderData['order_id']))}" class="ncap-btn ncap-btn-green" >
                                        发货详情
                                    </a>
                                    {eq name="$OrderData.prom_type" value="0"}
                                        &nbsp;<a href="javascript:void(0);" data-url="{$MobileExpressUrl}" onclick="LogisticsInquiry(this);" class="ncap-btn ncap-btn-green" >
                                            物流查询
                                        </a>
                                        <script type="text/javascript">
                                            // 发货、标记未付款
                                            function LogisticsInquiry(obj){
                                                var url = $(obj).attr('data-url');
                                                //iframe窗
                                                var iframes = layer.open({
                                                    type: 2,
                                                    title: '物流查询',
                                                    shadeClose: false,
                                                    maxmin: false, //开启最大化最小化按钮
                                                    area: ['60%', '80%'],
                                                    content: url
                                                });
                                            }
                                        </script>
                                    {/eq}
                                {/eq}
                            </td>
                        </tr>
                        <tr>
                            <td class="gray_bg">下单时间：</td>
                            <td>{$OrderData.add_time|MyDate='Y-m-d H:i:s',###}</td>
                            <td class="gray_bg">付款时间：</td>
                            <td>{neq name="$OrderData.pay_time" value="0"}{$OrderData.pay_time|MyDate='Y-m-d H:i:s',###}{/neq}</td>
                        </tr>
                        <tr>
                            <td class="gray_bg">付款方式：</td>
                            <td>
                                {eq name="$OrderData.payment_method" value="1"}
                                    快递代收
                                {else/}
                                    {$pay_method_arr[$OrderData.pay_name]|default='未付款'}
                                {/eq}
                            </td>
                            <td class="gray_bg">订单类型：</td>
                            <td>{$OrderData.prom_type_name}</td>
                        </tr>
                        {empty name="$OrderData.prom_type"}
                            <tr>
                                <td class="gray_bg">物流公司：</td>
                                <td>{$OrderData.express_name}</td>
                                <td class="gray_bg">配送单号：</td>
                                <td>{$OrderData.express_order}</td>
                            </tr>
                        {/empty}
                        
                        <tr>
                            <td class="gray_bg">积分抵扣：</td>
                            <td><?php echo $OrderData['integral'] * 1000;?></td>
                            <td class="gray_bg">优惠劵：</td>
                            <td>{$coupon_name}</td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>

            <div class="hDiv htitx">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                            <tr>
                                <th class="sign w10" axis="col0">
                                    <div class="tc"></div>
                                </th>
                                <th abbr="article_title" axis="col3" class="w10">
                                    <div class="tc">收货信息</div>
                                </th>
                                <th abbr="ac_id" axis="col4">
                                    <div class=""></div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="ncap-form-default">
                {empty name="$OrderData.prom_type"}
                <dl class="row">
                    <dt class="tit pl15">
                        <label>收货人</label>
                    </dt>
                    <dd class="opt">          
                        {$OrderData.consignee}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit pl15">
                        <label>联系方式</label>
                    </dt>
                    <dd class="opt">          
                        {$OrderData.mobile}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit pl15">
                        <label>收货地址</label>
                    </dt>
                    <dd class="opt">          
                        {$OrderData.country} {$OrderData.province} {$OrderData.city} {$OrderData.district} {$OrderData.address}
                    </dd>
                </dl>
               
                {/empty}
                <dl class="row">
                    <dt class="tit pl15">
                        <label>订单留言</label>
                    </dt>
                    <dd class="opt">          
                        {$OrderData.user_note}
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit pl15">
                        <label>管理员备注</label>
                    </dt>
                    <dd class="opt">          
                        <textarea rows="5" cols="60" id="admin_note" name="admin_note" style="height:60px;">{$OrderData.admin_note}</textarea>
                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                </dl>
                <div class="bot pl120" style="padding-bottom:0px;">
                    <input type="hidden" name="gourl" value="{$gourl|default=''}">
                    <a href="JavaScript:void(0);" onclick="UpNote('{$OrderData.order_id}');" class="ncap-btn-big ncap-btn-green" id="submitBtn">保存</a>
                </div>
            </div>
            
            
                        <div class="hDiv htitx">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                            <tr>
                                <th class="sign w10" axis="col0">
                                    <div class="tc"></div>
                                </th>
                                <th abbr="article_title" axis="col3" class="w10">
                                    <div class="tc">发票信息</div>
                                </th>
                                <th abbr="ac_id" axis="col4">
                                    <div class=""></div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            
            {if $OrderData.stat == 3}
               <div class="ncap-form-default">
                    不需要发票信息
              </div>
            {/if}
            {if  $OrderData.stat == 1}
                <div class="ncap-form-default">
                   <dl class="row">
                        <dt class="tit pl15">
                            <label>发票类型</label>
                        </dt>
                        <dd class="opt">
                          普票
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>公司名称</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.company}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>纳税识别号</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.identification_number}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>邮箱</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.email}
                        </dd>
                    </dl>
                </div>
            {/if}
            {if  $OrderData.stat == 2}
                <div class="ncap-form-default">
                   <dl class="row">
                        <dt class="tit pl15">
                            <label>发票类型</label>
                        </dt>
                        <dd class="opt">
                          专票
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>公司名称</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.company}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>纳税识别号</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.identification_number}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>邮箱</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.email}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>注册地址</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.address}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>注册电话</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.phone}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>开户银行名称</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.bank_name}
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="tit pl15">
                            <label>银行账号</label>
                        </dt>
                        <dd class="opt">          
                            {$invoice.bank_account}
                        </dd>
                    </dl>
                </div>
            {/if}

            

            

            <div class="hDiv" style="margin-top: 5px;">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                            <tr>
                                
                                <th abbr="article_title" axis="col3" class="">
                                    <div class="tl text-l10">商品名称</div>
                                </th>
                                <th abbr="article_time" axis="col6" class="w210">
                                    <div class="tc ">规格属性</div>
                                </th>
                                <th abbr="article_time" axis="col6" class="w210">
                                    <div class="tc">数量</div>
                                </th>
                                <th abbr="article_time" axis="col6" class="w150">
                                    <div class="tc">会员价格</div>
                                </th>
                                <th abbr="article_title" axis="col3" class="w300">
                                    <div class="tc">单品原价</div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="bDiv" style="height: auto;">
                <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                    <table style="width: 100%;">
                        <tbody>
                        {empty name="DetailsData"}
                            <tr>
                                <td class="no-data" align="center" axis="col0" colspan="50">
                                    <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                                </td>
                            </tr>
                        {else/}
                            {foreach name="DetailsData" item="vo" key="k" }
                            <tr>
                                
                                <td class="" style="width: 100%;">
                                    <div class="tl text-l10">
                                        <a href="{$vo.arcurl}" target="_blank">
                                            <img src="{$vo.litpic}" style="width: 60px;height: 60px;"> {$vo.product_name}
                                        </a>
                                    </div>
                                </td>
                                <td class="sort">
                                    <div class="tc w210 text-l10">
                                        {$vo.data}
                                    </div>
                                </td>
                                <td class="sort">
                                    <div class="tc w210">
                                        {$vo.num}
                                    </div>
                                </td>
                                <td class="sort">
                                    <div class="tc w150">
                                        
                                        <?php echo  sprintf("%.2f", $vo['product_price'] * $discount); ?>
                                        
                                    </div>
                                </td>
                                <td class="sort">
                                    <div class="tc w300">
                                        ￥{$vo.subtotal}
                                    </div>
                                </td>
                            </tr>
                            {/foreach}
                        {/empty}
                        </tbody>
                    </table>
                </div>
                <div class="iDiv" style="display: none;"></div>
            </div>

            <!-- <div class="hDiv">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                        <tr>
                            <th class="sign w10" axis="col0">
                                <div class="tc"></div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w10">
                                <div class="tc">操作信息</div>
                            </th>
                            <th abbr="ac_id" axis="col4">
                                <div class=""></div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="ncap-form-default">
                <input type="hidden" name="status_name" id="status_name">
                <dl class="row">
                    <dt class="tit">
                        <label for="uname">可执行操作</label>
                    </dt>
                    <dd class="opt">
                        {eq name="$OrderData['order_status']" value='0'}
                            <a href="JavaScript:void(0);" onclick="OrderMark('yfk');" class="ncap-btn-big ncap-btn-green" id="submitBtn">
                                标记已付款
                            </a>
                        {/eq}
                        {eq name="$OrderData['order_status']" value='2'}
                            <a href="JavaScript:void(0);" onclick="OrderMark('ysh');" class="ncap-btn-big ncap-btn-green" id="submitBtn">
                                标记已收货
                            </a>
                        {/eq}
                        {neq name="$OrderData['order_status']" value='-1'}
                            <a href="JavaScript:void(0);" onclick="OrderMark('wx');" class="ncap-btn-big ncap-btn-green" id="submitBtn">
                                标记为无效
                            </a>
                        {/neq}
                    </dd>
                </dl>
            </div> -->

            
            <div class="hDiv" style="margin-top: 5px;">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                        <tr>
                            
                            <th abbr="article_time" axis="col6">
                                <div class="tl text-l10">操作记录</div>
                            </th>
                            <th class="sign w210" axis="col0">
                                <div class="tc">操作者</div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w210">
                                <div class="tc">操作时间</div>
                            </th>
                            <th abbr="article_time" axis="col6" class="w150">
                                <div class="tc">订单状态</div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w300">
                                <div class="tc">操作备注</div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="bDiv" style="height: auto;">
                <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                    <table style="width: 100%;">
                        <tbody>
                        {empty name="Action"}
                            <tr>
                                <td class="no-data" align="center" axis="col0" colspan="50">
                                    <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                                </td>
                            </tr>
                        {else/}
                            {foreach name="Action" item="vo" key="k" }
                            <tr>
                                
                                <td class="sort" style="width: 100%;">
                                    <div class="tl text-l10" >
                                        {$vo.action_desc}
                                    </div>
                                </td>
                                <td class="sort">
                                    <div class="tc w210">
                                        {$vo.username}
                                    </div>
                                </td>
                                <td class="sort">
                                    <div class="tc w210">
                                        {$vo.add_time|MyDate='Y-m-d H:i:s',###}
                                    </div>
                                </td>
                               
                                <td class="sort">
                                    <div class="tc w150">
                                        
                                        {$admin_order_status_arr[$vo.order_status]|default=''}
                                    </div>
                                </td>
                                <td class="sort" >
                                    <div class="tc w300" >
                                        {$vo.action_note}
                                    </div>
                                </td>
                            </tr>
                            {/foreach}
                        {/empty}
                        </tbody>
                    </table>
                </div>
                <div class="iDiv" style="display: none;"></div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    // 判断输入框是否为空
    function OrderMark(status_name){
        if('qfh' == status_name){
            var order_id = '{$OrderData.order_id}';
            var url = "{:url('Shop/order_send')}";
            if (url.indexOf('?') > -1) {
                url += '&';
            } else {
                url += '?';
            }
            url += 'order_id='+order_id;
            window.location.href = url;
            return false;
        }else if('yfk' == status_name){
            var msg = '确认订单已付款？';
        }else if('ysh' == status_name){
            var msg = '确认订单已收货？';
        }else if('wfk' == status_name){
            var msg = '确认订单未付款？';
        }else if('wx' == status_name){
            var msg = '确认订单无效？';
        }
        
        layer.confirm(msg, {
            title: false,
            btn: ['确定','取消']
        },function(){
            $('#status_name').val(status_name);
            layer_loading('正在处理');
            $('#postForm').submit();
        },function(index){
            layer.closeAll(index);
        });
    }

    // 更新管理员备注
    function UpNote(order_id){
        var admin_note = $('#admin_note').val();
        $.ajax({
            url: "{:url('Shop/update_note', ['_ajax'=>1])}",
            data: {order_id:order_id,admin_note:admin_note},
            type:'post',
            dataType:'json',
            success:function(res){
                layer.closeAll();
                if ('1' == res.code) {
                    layer.msg(res.msg, {time: 1500});
                }else{
                    layer.msg(res.msg, {time: 1500});
                }
            }
        });
    }

    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });
</script>
{include file="public/footer" /}