{include file="public/layout" /}
<body class="bodystyle" style="overflow-y: scroll; cursor: default; -moz-user-select: inherit;">
<style type="text/css">
    .system_table{ border:1px solid #dcdcdc; width:100%;}
    .system_table td{ height:40px; line-height:40px; font-size:12px; color:#454545; border-bottom:1px solid #dcdcdc; border-right:1px solid #dcdcdc; width:35%; padding-left:1%;}
    .system_table td.gray_bg{ background:#f7f7f7; width:15%;}
</style>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="flexigrid">
        
        <form class="form-horizontal" id="postForm" action="{:url('Shop/order_mark_status')}" method="post">
            <input type="hidden" name="order_id" id="order_id" value="{$OrderData.order_id}">
            <input type="hidden" name="order_code" value="{$OrderData.order_code}">
            <input type="hidden" name="users_id" value="{$OrderData.users_id}">
            <input type="hidden" name="consignee" value="{$OrderData.consignee}">
            <div class="hDiv htitx">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                            <tr>
                                <th class="sign w10" axis="col0">
                                    <div class="tc"></div>
                                </th>
                                <th abbr="article_title" axis="col3" class="w10">
                                    <div class="tc">凭证详情</div>
                                </th>
                                <th abbr="ac_id" axis="col4">
                                    <div class=""></div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="hDiv" style="margin-top: 5px;">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                            <tr>
                                
                                
                               <th abbr="article_title" axis="col3">
                                    <div class="tl text-l10" style="width: 100%">订单号</div>
                                </th>
    
                                <th abbr="article_title" axis="col3" class="w100">
                                    <div class="tc">金额</div>
                                </th>
                               <th abbr="article_title" axis="col3" class="w100">
                                    <div class="tc">公司名称</div>
                                </th>
                               <th abbr="article_title" axis="col3" class="w100">
                                    <div class="tc">币种</div>
                                </th>
                               <th abbr="article_title" axis="col3" class="w100">
                                    <div class="tc">备注</div>
                                </th>
                                 </th>
                               <th abbr="article_title" axis="col3" class="w100">
                                    <div class="tc">上传时间</div>
                                </th>
    
                                <th abbr="article_title" axis="col3" class="w120">
                                    <div class="tc">上传凭证</div>
                                </th>
    
                                <th axis="col1" class="w180">
                                    <div class="tc">操作</div>
                                </th>
                                
                                <!--<th abbr="article_time" axis="col6" class="w210">-->
                                <!--    <div class="tc ">上传凭证</div>-->
                                <!--</th>-->
                                <!--<th abbr="article_time" axis="col6" class="w150">-->
                                <!--    <div class="tc">订单号</div>-->
                                <!--</th>-->
                                <!--<th abbr="article_time" axis="col6" class="w150">-->
                                <!--    <div class="tc">金额</div>-->
                                <!--</th>-->
                                <!--<th abbr="article_title" axis="col3" class="w300">-->
                                <!--    <div class="tc">公司名称</div>-->
                                <!--</th>-->
                                <!--<th abbr="article_title" axis="col3" class="w300">-->
                                <!--    <div class="tc">币种</div>-->
                                <!--</th>-->
                                <!--<th abbr="article_title" axis="col3" class="w300">-->
                                <!--    <div class="tc">备注</div>-->
                                <!--</th>-->
                                <!--<th abbr="article_title" axis="col3" class="w300">-->
                                <!--    <div class="tc">上传时间</div>-->
                                <!--</th>-->
                                <!--<th axis="col1" class="w160">-->
                                <!--    <div class="tc">操作</div>-->
                                <!--</th>-->
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="bDiv" style="height: auto;">
                <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                    <table style="width: 100%;">
                        <tbody>
                        {empty name="voucher"}
                            <tr>
                                <td class="no-data" align="center" axis="col0" colspan="50">
                                    <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                                </td>
                            </tr>
                        {else/}
                        
                            <tr>
                                
                            <td>
                            </td>

                                <td align="left" style="width:100%;">
                                    <div class="tl text-l10">
                                        {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}
                                            <a href="javascript:void(0);" data-href="{:url('AdPosition/edit',array('id'=>$vo['id']))}" data-closereload="1" onclick="openFullframe(this, '编辑广告', '100%', '100%');">{$voucher.order_code}</a>
                                        {else /}
                                            {$voucher.order_code}
                                        {/eq}
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w100">  {$voucher.money} </div>
                                </td>
                               <td>
                                    <div class="tc w100"> {$voucher.company} </div>
                                </td>
                                 <td>
                                    <div class="tc w100">  {$voucher.currency} </div>
                                </td>
                               <td>
                                    <div class="tc w100"> {$voucher.remarks} </div>
                                </td>
                                <td>
                                    <div class="tc w100">   {$voucher.add_time|MyDate='Y-m-d H:i:s',###} </div>
                                </td>
                                <td>
                                    <div class="tc w120">
                                        <ul class="adpic">
                                            <li>
                                                <img src="{$voucher.voucher}" data-img-src="{$voucher.voucher}">
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="operation">
                                    <div class="w180 tc">
                                 		{if $voucher.voucher_status == 0}
                                             <a href="JavaScript:void(0);" onclick="OrderMark1('ysh','{$voucher.id}','{$voucher.order_id}');" class="btn blue">
                                                审核
                                            </a>
                                            {/if}
                                        	{if $voucher.voucher_status == 1}
                                                审核通过
                                        {/if}
                                    </div>
                                </td>
                                
                                
                               <!--   <td class="" style="width: 100%; text-align: center;">-->
                               <!--     <div class="tl text-l10">-->
                               <!--         <a target="_blank">-->
                               <!--             <img src="{$voucher.voucher}" style="width: 60px;height: 60px;">-->
                               <!--         </a>-->
                               <!--     </div>-->
                               <!-- </td>-->
                                
                               <!--<td class="sort">-->
                               <!--     <div class="tc w210">-->
                               <!--         {$voucher.order_code}-->
                               <!--     </div>-->
                               <!-- </td>-->
                               <!--<td class="sort">-->
                               <!--     <div class="tc w210">-->
                               <!--         {$voucher.money}-->
                               <!--     </div>-->
                               <!-- </td>-->
                               <!-- <td class="sort">-->
                               <!--     <div class="tc w150">-->
                               <!--         {$voucher.company}-->
                               <!--     </div>-->
                               <!-- </td>-->
                               <!-- <td class="sort">-->
                               <!--     <div class="tc w300">-->
                               <!--         {$voucher.currency}-->
                               <!--     </div>-->
                               <!-- </td>-->
                               <!--  <td class="sort">-->
                               <!--     <div class="tc w300">-->
                               <!--         {$voucher.remarks}-->
                               <!--     </div>-->
                               <!-- </td>-->
                               <!--  <td class="sort">-->
                               <!--     <div class="tc w300">-->
                               <!--         {$voucher.add_time}-->
                               <!--     </div>-->
                               <!-- </td>-->
                               <!--  <td class="operation">-->
                               <!--     <div class="w160 tc">-->
                               <!-- 		{if $voucher.voucher_status == 0}-->
                               <!--          <a href="JavaScript:void(0);" onclick="OrderMark1('ysh','{$voucher.id}','{$voucher.order_id}');" class="btn blue">-->
                               <!--             审核-->
                               <!--         </a>-->
                               <!--         {/if}-->
                               <!--     	{if $voucher.voucher_status == 1}-->
                               <!--             审核通过-->
                               <!--         {/if}-->
                               <!--     </div>-->
                               <!--  </td>-->
                            </tr>
                        {/empty}
                        </tbody>
                    </table>
                </div>
                <div class="iDiv" style="display: none;"></div>
            </div>

        </form>
    </div>
</div>


<div id="hi-img-pop">
    <div href="javascript:;" class="hi-close"></div>
    <img src="" alt="">
</div>
<style>
    /* 图片弹窗 */
        
        #hi-img-pop {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        #hi-img-pop * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        #hi-img-pop .hi-close {
            position: fixed;
            top: 86%;
            left: 50%;
            margin-left: -25px;
            width: 50px;
            height: 50px;
            color: #fff;
            background: #fff;
            border-radius: 50%;
            transition: .5s;
            cursor: pointer;
        }
        
        #hi-img-pop .hi-close:after,
        #hi-img-pop .hi-close:before {
            content: "";
            position: absolute;
            bottom: 24px;
            left: 10px;
            width: 30px;
            height: 2px;
            background: #333;
            transition: .5s;
        }
        
        #hi-img-pop .hi-close:hover {
            background: #019dee;
        }
        
        #hi-img-pop .hi-close:hover:after,
        #hi-img-pop .hi-close:hover:before {
            background: #fff;
        }
        
        #hi-img-pop .hi-close:after {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        #hi-img-pop .hi-close:before {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        
        #hi-img-pop img {
            position: fixed;
            left: 50%;
            top: 50%;
            max-width: 90%;
            max-height: 70%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
</style>
<script type="text/javascript">
    // 判断输入框是否为空
 function OrderMark1(status_name, order_id, users_id, admin_note, update_time) {
        if('yfk' == status_name){
            var msg = '确认订单已付款？';
        }else if('ysh' == status_name){
            var msg = '确认审核？';
        }else if('gbdd' == status_name){
            var msg = '确认关闭订单？';
        }else if('ddbz' == status_name){
            layer.prompt({
                formType: 2,
                value: admin_note,
                title: false,
                closeBtn: 0,
                id: 'AdminNote',
                area: ['300px', '100px'],
                success: function(layero, index) {
                    if (admin_note) {
                        var msg = '<br/><span style="color: #999; font-size: 12px;">最后更新：'+update_time+'</span>';
                        $("#AdminNote").append(msg);
                    }
                }
            }, function(value, index, elem) {
                UpNote(order_id,value);
                layer.close(index);
            });
            return false;
        }else if('ddsc' == status_name){
            var msg = '确认删除订单？';
        }

        layer.confirm(msg, {
            title: false,
            closeBtn: 0,
            btn: ['确定','取消'],
        },function(){
            $.ajax({
                url: "{:url('Shop/examine')}",
                data: {order_id:users_id,id:order_id, _ajax:1},
                type:'post',
                dataType:'json',
                success:function(res){
                    layer.closeAll();
                    if (1 == res.code) {
                        layer.msg(res.msg, {time: 1500},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(res.msg, {time: 1500});
                    }
                }
            });
        },function(index){
            layer.closeAll(index);
        });
    }

    // 更新管理员备注
    function UpNote(order_id){
        var admin_note = $('#admin_note').val();
        $.ajax({
            url: "{:url('Shop/update_note', ['_ajax'=>1])}",
            data: {order_id:order_id,admin_note:admin_note},
            type:'post',
            dataType:'json',
            success:function(res){
                layer.closeAll();
                if ('1' == res.code) {
                    layer.msg(res.msg, {time: 1500});
                }else{
                    layer.msg(res.msg, {time: 1500});
                }
            }
        });
    }

    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });
    
    
    function HiImgPop(obj) {
        var oImgBox = $("#hi-img-pop"); //弹窗
        var oClose = oImgBox.find(".hi-close"); //关闭按钮
        var oImg = oImgBox.find("img"); //图片标签
        // 点击显示弹窗，设置图片src
        obj.each(function() {
            $(this).click(function() {
                oImgBox.stop().fadeIn();
                oImg.attr("src", $(this).attr("data-img-src"));
            });
        });
        // 点击关闭弹窗
        oClose.click(function() {
            oImgBox.stop().fadeOut();
        });
    }
    // 调用
    HiImgPop($(".adpic li img"));
</script>
{include file="public/footer" /}