
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="{if condition="'Collection' == $Request.param.sc && 'index' == $Request.param.sa"}{:url("Weapp/index")}{else /}{:weapp_url("Collection/Collection/index")}{/if}" title="返回列表"><i class="fa fa-chevron-left"></i></a>
            <div class="subject">
                <h3>{$weappInfo['name']}</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li>
                {eq name="$Request.param.sa" value="index"}
                    <a href="javascript:void(0);" class="tab current"><span>内容页使用指南</span></a>
                {else /}
                    <a href="{:weapp_url("Collection/Collection/index")}" class="tab"><span>内容页使用指南</span></a>
                {/eq}
                </li>

                <li>
                {eq name="$Request.param.sa" value="doc"}
                    <a href="javascript:void(0);" class="tab current"><span>列表使用指南</span></a>
                {else /}
                    <a href="{:weapp_url("Collection/Collection/doc")}" class="tab"><span>列表使用指南</span></a>
                {/eq}
                </li>
            </ul>
        </div>
    </div>