{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv" style="margin-left: 30px;">
            <p style="font-size: 15px;line-height: 2em;">【标签调用方法】</p>
            <ol style="font-size: 15px;line-height: 2em;">
                <li style="color: red;">拷贝以下代码到模板里（注意：以下红色代码一定要有）</li>
                <li>
                    <br/>
                    &lt;!-- 代码开始 --&gt;<br/>
                    &lt;a href="javascript:void(0);" <font color="red">id="ey_1595557091" onclick="ey_1595557091(this);" data-html="已收藏"</font>&gt;加入收藏&lt;/a&gt;
                    <br/>
                    （收藏数：<font color="red">&lt;span id="ey_collection_num"&gt;&lt;/span&gt;</font>次）
                    <br/>
                    <font color="red">
                    {literal}{:hookexec('Collection/Collection/show')}{/literal}
                    </font><br/>
                    &lt;!-- 代码结束 --&gt;
                    <br/>
                    <br/>
                    <img src="__ROOT_DIR__/weapp/Collection/template/skin/img/20200724161830.png">
                    <br/>
                    <br/>
                    效果图 - 收藏前<br/>
                    <img src="__ROOT_DIR__/weapp/Collection/template/skin/img/20200724163305.png">
                    <br/>
                    <br/>
                    效果图 - 收藏后<br/>
                    <img src="__ROOT_DIR__/weapp/Collection/template/skin/img/20200724163212.png">
                </li>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}