<script type="text/javascript">var root_dir_1595557091='__ROOT_DIR__';var aid_1595557091="{$eyou.field.aid|default='0'}";</script>
<script language="javascript" src="__WEAPP_TEMPLATE__/skin/js/collection.js?v={$weappInfo.version|default='v1.0.0'}"></script>