{if condition="!empty($aid) && !empty($arcurl)"}
    <script type="text/javascript">var root_dir_1595557091='__ROOT_DIR__';</script>
    <script language="javascript" src="__WEAPP_TEMPLATE__/skin/js/collection_list.js?v={$weappInfo.version|default='v1.0.0'}"></script>
    <script type="text/javascript">ey_collection_1595559651("{$aid|default='0'}", "{$arcurl|default=''}");</script>
{/if}