{include file="public/layout" /}
<script type="text/javascript" src="__PUBLIC__/plugins/laydate/laydate.js"></script>

{eq name="$editor.editor_select" value="1"}
    {load href="__PUBLIC__/plugins/Ueditor/ueditor.config.js" /}
    {load href="__PUBLIC__/plugins/Ueditor/ueditor.all.min.js" /}
    {load href="__PUBLIC__/plugins/Ueditor/lang/zh-cn/zh-cn.js" /}
{else/}
    {load href="__PUBLIC__/plugins/ckeditor/ckeditor.js" /}
{/eq}

<body style="background-color: #FFF; overflow: auto;min-width:auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width:auto;box-shadow:none;">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-angle-double-left"></i>返回</a>
            
            <ul class="tab-base nc-row">
                <li><a href="javascript:void(0);" data-index='1' class="tab current"><span>回复</span></a></li>
            </ul>
        </div>
    </div>
    <form class="form-horizontal" id="post_form" action="{:url('Delivery/edit')}" method="post">
        <!-- 常规信息 -->
        <div class="ncap-form-default tab_div_1">
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>服务代表</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="name" value="{$field.name}" id="name" class="input-txt" maxlength="100">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>联系电话</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="phone" value="{$field.phone}" id="phone" class="input-txt" maxlength="100">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>邮箱</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="email" value="{$field.email}" id="email" class="input-txt" maxlength="100">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>交期回复</label>
                </dt>
                <dd class="opt">          
                    <textarea rows="5" cols="60" id="content" name="content" style="height:60px;">{$field.content}</textarea>
                    <span class="err"></span>
                </dd>
            </dl>
        </div>
        <!-- 其他参数 -->
        <div class="ncap-form-default">
            <div class="bot">
                <input type="hidden" name="gourl" value="{$gourl|default=''}">
                <input type="hidden" name="id" value="{$field.id|default='0'}">
                <a href="JavaScript:void(0);" onclick="" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
            </div>
        </div> 
    </form>
</div>
<script type="text/javascript">

    $(function () {
        
        $("#submitBtn").click(function(){
            console.log(0);
            if($.trim($('#name[name=name]').val()) == ''){
                showErrorMsg('标题不能为空！');
                $($('.tab-base').find('.tab')[0]).trigger('click'); 
                $('input[name=title]').focus();
                return false;
            }
            $("#post_form").submit();
        });
        
        
        
        // $('#add_time').layDate();   
     
        // //选项卡切换列表
        // $('.tab-base').find('.tab').click(function(){
        //     $('.tab-base').find('.tab').each(function(){
        //         $(this).removeClass('current');
        //     });
        //     $(this).addClass('current');
        //     var tab_index = $(this).data('index');          
        //     $(".tab_div_1, .tab_div_2, .tab_div_3").hide();          
        //     $(".tab_div_"+tab_index).show();
        // });

        // $('input[name=is_jump]').click(function(){
        //     if ($(this).is(':checked')) {
        //         $('.dl_jump').show();
        //     } else {
        //         $('.dl_jump').hide();
        //     }
        // });

        // var dftypeid = {$field.typeid|default='0'};
        // $('#typeid').change(function(){
        //     var current_channel = $(this).find('option:selected').data('current_channel');
        //     if (0 < $(this).val() && {$channeltype} != current_channel) {
        //         showErrorMsg('请选择对应模型的栏目！');
        //         $(this).val(dftypeid);
        //     } else if ({$channeltype} == current_channel) {
        //         layer.closeAll();
        //     }
        //     var aid = $("input[name=aid]").val();
        //     GetAddonextitem(1, $(this).val(), {$channeltype}, aid, true);
        // });

        // $(document).click(function(){
        //     $('#often_tags').hide();
        //     $('#often_tags_input').hide();
        //     event.stopPropagation();
        // });

        // $('#often_tags').click(function(){
        //     $('#often_tags').show();
        //     event.stopPropagation();
        // });
    });

    // 判断输入框是否为空
   
    

    function img_call_back(fileurl_tmp)
    {
        $("#litpic_local").val(fileurl_tmp);
        $("#img_a").attr('href', fileurl_tmp);
        $("#img_i").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
        $("input[name=is_litpic]").attr('checked', true); // 自动勾选属性[图片]
    }
    function change_part_free(e) {
        if (1 == $(e).val()){
            $('#size_dl').hide();
            $('#part_free_span').show();
            open_free_content();
        }else if (2 == $(e).val()){
            $('#part_free_span').hide();
            $('#size_dl').show();
        } else{
            $('#part_free_span').hide();
            $('#size_dl').hide();
        }
    }
    function open_free_content() {
        var url = "{:url('Article/free_content',['aid'=>$field.aid])}";
        layer.open({
            type: 2,
            title:'请输入预览内容',
            area: ['90%', '90%'], //宽高
            content: url
        });
    }
</script>

{include file="public/footer" /}