
<!-- 用户自定义扩展模板文件 -->
{include file="diy_extend/archives_extend" /}
<!-- end -->

{volist name="$addonFieldExtList" id="vo"}
    {if isset($vo.ifeditable) && $vo.ifeditable == 1}
        {switch name="vo.dtype"}
            {case value="hidden"}
                <!-- 隐藏域 start -->
                <dl class="row" style="display: none;">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">
                        <input type="hidden" class="input-txt" id="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="{$vo.dfvalue|default=''}">
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <!-- 隐藏域 start -->
            {/case}

            {case value="region"}
                <!-- 区域选项 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">
                        {volist name="$vo.dfvalue" id="v2"}
                            <label>
                                <input type="radio" id="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="{$v2['id']}" {if condition="isset($vo['trueValue']) AND in_array($v2['id'], $vo['trueValue'])"}checked="checked"{/if}>{$v2['name']}
                            </label>&nbsp;
                        {/volist}
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <!-- 区域选项 end -->
            {/case}

            {case value="text"}
                <!-- 单行文本框 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" class="input-txt" id="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="{$vo.dfvalue|default=''}">&nbsp;{$vo.dfvalue_unit|default=''}
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <!-- 单行文本框 end -->
            {/case}

            {case value="multitext"}
                <!-- 多行文本框 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">          
                        <textarea rows="5" cols="60" id="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" style="height:60px;">{$vo.dfvalue|default=''}</textarea>
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <!-- 多行文本框 end -->
            {/case}

            {case value="checkbox"}
                <!-- 复选框 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">
                        {volist name="$vo.dfvalue" id="v2"}
                        <label><input type="checkbox" name="{$vo.fieldArr}[{$vo.name|default=''}][]" value="{$v2}" {if condition="isset($vo['trueValue']) AND in_array($v2, $vo['trueValue'])"}checked="checked"{/if} onclick="func_{$vo.name}_eyempty();">{$v2}</label>&nbsp;
                        {/volist}
                        <input type="hidden" name="{$vo.fieldArr}[{$vo.name}_eyempty]" value="{if condition="!empty($vo['trueValue'])"}1{else /}0{/if}">
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <script type="text/javascript">
                    function func_{$vo.name}_eyempty()
                    {
                        var len = $("input[name='{$vo.fieldArr}[{$vo.name}][]']:checked").length;
                        $("input[name='{$vo.fieldArr}[{$vo.name}_eyempty]']").val(len);
                    }
                </script>
                <!-- 复选框 end -->
            {/case}

            {case value="radio"}
                <!-- 单选项 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">
                        {volist name="$vo.dfvalue" id="v2"}
                        <label><input type="radio" id="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="{$v2}" {if condition="isset($vo['trueValue']) AND in_array($v2, $vo['trueValue'])"}checked="checked"{/if}>{$v2}</label>&nbsp;
                        {/volist}
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <!-- 单选项 end -->
            {/case}

            {case value="switch"}
                <!-- 开关 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">
                        <div class="onoff">
                            <label for="{$vo.fieldArr}_{$vo.name|default=''}1" class="cb-enable {if condition="0 != $vo['dfvalue']"}selected{/if}">是</label>
                            <label for="{$vo.fieldArr}_{$vo.name|default=''}0" class="cb-disable {if condition="0 == $vo['dfvalue']"}selected{/if}">否</label>
                            <input id="{$vo.fieldArr}_{$vo.name|default=''}1" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="1" type="radio" {if condition="0 != $vo['dfvalue']"}checked="checked"{/if}>
                            <input id="{$vo.fieldArr}_{$vo.name|default=''}0" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="0" type="radio" {if condition="0 == $vo['dfvalue']"}checked="checked"{/if}>
                        </div>
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <script type="text/javascript">
                    $(function(){
                        //自定义radio样式
                        $(".cb-enable").on('click', function(){
                            var parent = $(this).parents('.onoff');
                            $('.cb-disable',parent).removeClass('selected');
                            $(this).addClass('selected');
                            $('.checkbox',parent).attr('checked', true);
                        });
                        $(".cb-disable").on('click', function(){
                            var parent = $(this).parents('.onoff');
                            $('.cb-enable',parent).removeClass('selected');
                            $(this).addClass('selected');
                            $('.checkbox',parent).attr('checked', false);
                        });
                    });
                </script>
                <!-- 开关 end -->
            {/case}

            {case value="select"}
                <!-- 下拉框 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt"> 
                        <select name="{$vo.fieldArr}[{$vo.name|default=''}]" id="{$vo.fieldArr}_{$vo.name|default=''}">
                            {volist name="$vo.dfvalue" id="v2"}
                            <option value="{$v2}" {if condition="isset($vo['trueValue']) AND in_array($v2, $vo['trueValue'])"}selected{/if}>{$v2}</option>
                            {/volist}
                        </select>
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <!-- 下拉框 end -->
            {/case}

            {case value="img"}
                <!-- 单张图 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">
                        <div class="input-file-show div_{$vo.fieldArr}_{$vo.name|default=''}_eyou_local" {neq name="$vo[$vo['name'].'_eyou_is_remote']" value="0"}style="display: none;"{/neq}>
                            <span class="show">
                                <a id="img_a_{$vo.fieldArr}_{$vo.name|default=''}" target="_blank" class="nyroModal" rel="gal" href="{$vo[$vo['name'].'_eyou_local']|default='javascript:void(0);'}">
                                    <i id="img_i_{$vo.fieldArr}_{$vo.name|default=''}" class="fa fa-picture-o" {notempty name="$vo[$vo['name'].'_eyou_local']"}onmouseover="layer_tips=layer.tips('<img src={$vo[$vo['name'].'_eyou_local']} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                                </a>
                            </span>
                            <span class="type-file-box">
                                <input type="text" id="{$vo.fieldArr}_{$vo.name|default=''}_eyou_local" name="{$vo.fieldArr}[{$vo.name|default=''}_eyou_local]" value="{$vo[$vo['name'].'_eyou_local']|default=''}" class="type-file-text" autocomplete="off">
                                <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                                <input class="type-file-file" onClick="GetUploadify(1,'','allimg','{$vo.fieldArr}_{$vo.name|default=''}_call_back')" size="30" hidefocus="true" nc_type="change_site_{$vo.fieldArr}_{$vo.name|default=''}"
                                     title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                            </span>
                        </div>
                        <input type="text" id="{$vo.fieldArr}_{$vo.name|default=''}_eyou_remote" name="{$vo.fieldArr}[{$vo.name|default=''}_eyou_remote]" value="{$vo[$vo['name'].'_eyou_remote']|default=''}" placeholder="http://" class="input-txt" {neq name="$vo[$vo['name'].'_eyou_is_remote']" value="1"}style="display: none;"{/neq}>
                        &nbsp;
                        <label><input type="checkbox" name="{$vo.fieldArr}[{$vo.name|default=''}_eyou_is_remote]" id="{$vo.fieldArr}_{$vo.name|default=''}_eyou_is_remote" value="1" {eq name="$vo[$vo['name'].'_eyou_is_remote']" value="1"}checked="checked"{/eq} onClick="clickRemote(this, '{$vo.fieldArr}_{$vo.name|default=''}_eyou');">远程图片</label>
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <script type="text/javascript">
                    function {$vo.fieldArr}_{$vo.name|default=''}_call_back(fileurl_tmp)
                    {
                      $("#{$vo.fieldArr}_{$vo.name|default=''}_eyou_local").val(fileurl_tmp);
                      $("#img_a_{$vo.fieldArr}_{$vo.name|default=''}").attr('href', fileurl_tmp);
                      $("#img_i_{$vo.fieldArr}_{$vo.name|default=''}").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
                    }
                </script>
                <!-- 单张图 end -->
            {/case}

            {case value="file"}
            <!-- 单个文件 start -->
            <dl class="row">
                <dt class="tit">
                    <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_{$vo.fieldArr}_{$vo.name|default=''}_eyou_local" {neq name="$vo[$vo['name'].'_eyou_is_remote']" value="0"}style="display: none;"{/neq}>
                        <span class="show">
                            <a id="file_a_{$vo.fieldArr}_{$vo.name|default=''}" class="nyroModal" rel="gal" href="{$vo[$vo['name'].'_eyou_local']|default='javascript:void(0);'}" download="{$vo[$vo['name'].'_eyou_local']|get_filename=###}">
                                <i id="file_i_{$vo.fieldArr}_{$vo.name|default=''}" class="layui-icon layui-icon-file-b" ></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="{$vo.fieldArr}_{$vo.name|default=''}_eyou_local" name="{$vo.fieldArr}[{$vo.name|default=''}_eyou_local]" value="{$vo[$vo['name'].'_eyou_local']|default=''}" class="type-file-text" autocomplete="off">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input title="点击前方文件图标可下载文件，点击按钮选择文件并提交表单后上传生效" class="type-file-file" type="file" onchange="upload_file_{$vo.fieldArr}_{$vo.name|default=''}_1585641737(this)" size="30" hidefocus="true" nc_type="change_site_{$vo.fieldArr}_{$vo.name|default=''}">
                        </span>
                    </div>
                    <input type="text" id="{$vo.fieldArr}_{$vo.name|default=''}_eyou_remote" name="{$vo.fieldArr}[{$vo.name|default=''}_eyou_remote]" value="{$vo[$vo['name'].'_eyou_remote']|default=''}" placeholder="http://" class="input-txt" {neq name="$vo[$vo['name'].'_eyou_is_remote']" value="1"}style="display: none;"{/neq}>
                    &nbsp;
                    <label><input type="checkbox" name="{$vo.fieldArr}[{$vo.name|default=''}_eyou_is_remote]" id="{$vo.fieldArr}_{$vo.name|default=''}_eyou_is_remote" value="1" {eq name="$vo[$vo['name'].'_eyou_is_remote']" value="1"}checked="checked"{/eq} onClick="clickRemote(this, '{$vo.fieldArr}_{$vo.name|default=''}_eyou');">远程文件</label>
                    <span class="err"></span>
                    <p class="notic">{$vo.remark|default=''}</p>
                </dd>
            </dl>
            <script type="text/javascript">
                function upload_file_{$vo.fieldArr}_{$vo.name|default=''}_1585641737(e){
                    var file = $(e)[0].files[0]
                    var formData = new FormData();
                    formData.append('file',file);
                    $.ajax({
                        type: 'post',
                        url: "{:url('Ueditor/DownloadUploadFileAjax')}",
                        data: formData,
                        contentType: false,
                        processData: false,
                        dataType: 'json',
                        success: function (res) {
                            if (res.code==0){
                                layer.msg(res.msg)
                            }else {
                                $("#{$vo.fieldArr}_{$vo.name|default=''}_eyou_local").val(res.file_url);
                                $("#file_a_{$vo.fieldArr}_{$vo.name|default=''}").attr('href',res.file_url);
                                var  arr = res.file_url.split("/");
                                var download = arr[arr.length-1];
                                $("#file_a_{$vo.fieldArr}_{$vo.name|default=''}").attr('download',download);
                            }
                        }
                    })
                }
            </script>
            <!-- 单个文件 end -->
            {/case}

            {case value="imgs"}
                <!-- 多张图 start -->
                <dl class="row" id="dl_{$vo.fieldArr}_{$vo.name|default=''}">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">
                        <div class="tab-pane pics" id="tab_{$vo.fieldArr}_{$vo.name|default=''}">
                           <!-- <a href="javascript:void(0);" onClick="GetUploadify(100,'','allimg','{$vo.fieldArr}_{$vo.name|default=''}_call_back');" class="imgupload">
                                <i class="fa fa-photo"></i>上传图片
                            </a> -->
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td >
                                        <div class="sort-list-{$vo.fieldArr}_{$vo.name|default=''}">
                                            {volist name="$vo[$vo['name'].'_eyou_imgupload_list']" id="v2" key="k2"}
                                            <div class="images_upload images_upload_html" style="display:inline-block;">
                                                <div style="position: relative; height: 130px;">
                                                    <input type="hidden" name="{$vo.fieldArr}[{$vo.name|default=''}][]" value="{$v2['image_url']}">
                                                    <a href="{$v2['image_url']}" onclick="" class="upimg" target="_blank" title="拖动修改排序">
                                                        <img src="{$v2['image_url']}" width="136" height="136">
                                                    </a>
                                                    <a href="javascript:void(0)" onclick="{$vo.fieldArr}_{$vo.name|default=''}_ClearPicArr2(this,'{$v2['image_url']}')" class="delect" title="删除"></a>
                                                </div>
                                                <textarea rows="5" cols="60" name="{$vo.fieldArr}[{$vo.name|default=''}_eyou_intro][]" style="height:28px; width: 136px;" placeholder="图片注释">{$v2.intro}</textarea>
                                            </div>
                                            {/volist}
                                            <div class="images_upload"></div>
                                        </div>
                                       <a href="javascript:void(0);" onClick="GetUploadify(100,'','allimg','{$vo.fieldArr}_{$vo.name|default=''}_call_back');" class="img-upload mb15" title="点击上传">
                                           <div class="y-line"></div>
                                           <div class="x-line"></div>
                                       </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 上传图片显示的样板 start -->
                        <div class="{$vo.fieldArr}_{$vo.name|default=''}_upload_tpl none">
                            <div class="images_upload images_upload_html" style="display:inline-block;">
                                <div style="position: relative; height: 130px;">
                                    <input type="hidden" name="{$vo.fieldArr}[{$vo.name|default=''}][]" value="" />
                                    <a href="javascript:void(0);" onClick="" class="upimg" title="拖动修改排序">
                                        <img src="__STATIC__/admin/images/add-button.jpg" width="136" height="136" />
                                    </a>
                                    <a href="javascript:void(0)" class="delect" title="删除">&nbsp;&nbsp;</a>
                                </div>
                                <textarea rows="5" cols="60" name="{$vo.fieldArr}[{$vo.name|default=''}_eyou_intro][]" style="height:28px; width: 136px;" placeholder="图片注释"></textarea>
                            </div>
                        </div>
                        <!-- 上传图片显示的样板 end -->
                    </dd>
                </dl>
                <script type="text/javascript">
                    // 上传多图回调函数
                    function {$vo.fieldArr}_{$vo.name|default=''}_call_back(paths){
                        
                        var  last_div = $(".{$vo.fieldArr}_{$vo.name|default=''}_upload_tpl").html();
                        for (var i=0;i<paths.length ;i++ )
                        {
                            if ($(".sort-list-{$vo.fieldArr}_{$vo.name|default=''} .images_upload_html").length > 0) {
                                $(".sort-list-{$vo.fieldArr}_{$vo.name|default=''} .images_upload_html:last").after(last_div);  // 插入一个 新图片
                            } else {
                                $(".sort-list-{$vo.fieldArr}_{$vo.name|default=''} .images_upload:last").before(last_div);  // 插入一个 新图片
                            }
                            $(".sort-list-{$vo.fieldArr}_{$vo.name|default=''} .images_upload_html:last").find('a:eq(0)').attr('href',paths[i]).attr('onclick','').attr('target', "_blank");// 修改他的链接地址
                            $(".sort-list-{$vo.fieldArr}_{$vo.name|default=''} .images_upload_html:last").find('img').attr('src',paths[i]);// 修改他的图片路径
                            $(".sort-list-{$vo.fieldArr}_{$vo.name|default=''} .images_upload_html:last").find('a:eq(1)').attr('onclick',"{$vo.fieldArr}_{$vo.name|default=''}_ClearPicArr2(this,'"+paths[i]+"')").text('');
                            $(".sort-list-{$vo.fieldArr}_{$vo.name|default=''} .images_upload_html:last").find('input').val(paths[i]); // 设置隐藏域 要提交的值
                        }             
                    }
                    /*
                     * 上传之后删除组图input     
                     * @access   public
                     * @val      string  删除的图片input
                     */
                    function {$vo.fieldArr}_{$vo.name|default=''}_ClearPicArr2(obj,path)
                    {
                        // 删除数据库记录
                        $.ajax({
                            type:'GET',
                            url:"{:url('Field/del_channelimgs', ['_ajax'=>1])}",
                            data:{filename:path,channel:"{$channeltype|default='0'}",fieldname:"{$vo.name}",aid:"{$aid|default='0'}"},
                            success:function(){
                                $(obj).parent().parent().remove(); // 删除完服务器的, 再删除 html上的图片
                                $.ajax({
                                    type:'GET',
                                    url:"{:url('Uploadify/delupload', ['_ajax'=>1])}",
                                    data:{action:"del", filename:path},
                                    success:function(){}
                                });
                            }
                        });    
                    }

                    /** 以下 产品相册的拖动排序相关 js*/

                    $( ".sort-list-{$vo.fieldArr}_{$vo.name|default=''}" ).sortable({
                        start: function( event, ui) {
                        
                        }
                        ,stop: function( event, ui ) {

                        }
                    });
                    //因为他们要拖动，所以尽量设置他们的文字不能选择。 
                    $( ".sort-list-{$vo.fieldArr}_{$vo.name|default=''}" ).disableSelection();
                </script>
                <!-- 多张图 end -->
            {/case}

            {case value="int"}
                <!-- 整数类型 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt"> 
                        <input type="text" value="{$vo.dfvalue|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" id="{$vo.fieldArr}_{$vo.name|default=''}" placeholder="只允许纯数字" class="input-txt" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">&nbsp;{$vo.dfvalue_unit|default=''}
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <!-- 整数类型 end -->
            {/case}

            {case value="float"}
                <!-- 小数类型 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt"> 
                        <input type="text" value="{$vo.dfvalue|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" id="{$vo.fieldArr}_{$vo.name|default=''}" placeholder="允许带有小数点的数值" class="input-txt" onkeyup="this.value=this.value.replace(/[^0-9\.]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9\.]/g,''));">&nbsp;{$vo.dfvalue_unit|default=''}
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <!-- 小数类型 end -->
            {/case}

            {case value="decimal"}
                <!-- 金额类型 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt"> 
                        <input type="text" value="{$vo.dfvalue|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" id="{$vo.fieldArr}_{$vo.name|default=''}" placeholder="允许带有小数点的金额" class="input-txt" onkeyup="this.value=this.value.replace(/[^0-9\.]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9\.]/g,''));">&nbsp;{$vo.dfvalue_unit|default=''}
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <!-- 金额类型 end -->
            {/case}

            {case value="datetime"}
                <!-- 日期和时间 start -->
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt"> 
                        <input type="text" class="input-txt" name="{$vo.fieldArr}[{$vo.name|default=''}]" id="{$vo.fieldArr}_{$vo.name|default=''}" value="{$vo['dfvalue']}" autocomplete="off">        
                        <span class="add-on input-group-addon">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        </span> 
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <script type="text/javascript">
                    $(function () {
                        $('#{$vo.fieldArr}_{$vo.name|default=''}').layDate();   
                    });
                </script>
                <!-- 日期和时间 end -->
            {/case}

            {case value="htmltext"}
                <!-- HTML文本 start -->
                {eq name="$editor.editor_select" value="1"}
                    <dl class="row">
                        <dt class="tit">
                            <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                        </dt>
                        <dd class="opt">          
                            <textarea class="span12 ckeditor" id="{$vo.fieldArr}_{$vo.name|default=''}" data-func="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" title="">{$vo.dfvalue|default=''}</textarea>
    						<div class="opt-moreOper">
    							<p>
    							    <a href="javascript:void(0);" onclick="remote_to_local_{$vo.fieldArr}_{$vo.name|default=''}();" class="ncap-btn2">远程图片本地化</a>&nbsp;
    							    <a href="javascript:void(0);" onclick="replace_links_{$vo.fieldArr}_{$vo.name|default=''}();" class="ncap-btn2">清除非本站链接</a>&nbsp;
    							</p>
    						</div>
                            <input type="hidden" id="ArticleContent" value="{$vo.fieldArr}_{$vo.name|default=''}">
                            <span class="err"></span>
                            <p class="notic">{$vo.remark|default=''}</p>
                        </dd>
                    </dl>
                    <script type="text/javascript">
                        UE.getEditor('{$vo.fieldArr}_{$vo.name|default=''}',{
                            serverUrl :"{:url('Ueditor/index',array('savepath'=>'ueditor'))}",
                            zIndex: 999,
                            initialFrameWidth: "100%", //初化宽度
                            initialFrameHeight: 450, //初化高度            
                            focus: false, //初始化时，是否让编辑器获得焦点true或false
                            maximumWords: 99999,
                            removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
                            pasteplain:false, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
                            autoHeightEnabled: false,
                            toolbars: ueditor_toolbars
                        });

                        //必须在提交前渲染编辑器；
                        function {$vo.fieldArr}_{$vo.name|default=''}() {
                            //判断编辑模式状态:0表示【源代码】HTML视图；1是【设计】视图,即可见即所得；-1表示不可用
                            if(UE.getEditor("{$vo.fieldArr}_{$vo.name|default=''}").queryCommandState('source') != 0) {
                                UE.getEditor("{$vo.fieldArr}_{$vo.name|default=''}").execCommand('source'); //切换到【设计】视图
                            }
                        }

                        // 远程图片本地化
                        function remote_to_local_{$vo.fieldArr}_{$vo.name|default=''}() {
                            var body = UE.getEditor("{$vo.fieldArr}_{$vo.name|default=''}").getContent();
                            layer_loading('下载中');
                            $.ajax({
                                type: 'POST',
                                url: "{:url('Archives/ajax_remote_to_local')}",
                                data: {body:body,_ajax:1},
                                dataType: "JSON",
                                success: function(res){
                                    layer.closeAll();
                                    if (res.code == 1) {
                                        UE.getEditor("{$vo.fieldArr}_{$vo.name|default=''}").setContent(res.data.body);
                                        layer.msg(res.msg, {icon: 1, time:1000});
                                    } else {
                                        showErrorMsg(res.msg);
                                    }
                                },
                                error: function(e){
                                    layer.closeAll();
                                    showErrorMsg(res.msg);
                                }
                            });
                        }

                        // 清除非本站链接
                        function replace_links_{$vo.fieldArr}_{$vo.name|default=''}() {
                            var body = UE.getEditor("{$vo.fieldArr}_{$vo.name|default=''}").getContent();
                            layer_loading('正在处理');
                            $.ajax({
                                type: 'POST',
                                url: "{:url('Archives/ajax_replace_links')}",
                                data: {body:body,_ajax:1},
                                dataType: "JSON",
                                success: function(res){
                                    layer.closeAll();
                                    if (res.code == 1) {
                                        UE.getEditor("{$vo.fieldArr}_{$vo.name|default=''}").setContent(res.data.body);
                                        layer.msg(res.msg, {icon: 1, time:1000});
                                    } else {
                                        showErrorMsg(res.msg);
                                    }
                                },
                                error: function(e){
                                    layer.closeAll();
                                    showErrorMsg(res.msg);
                                }
                            });
                        }
                    </script>
                {else/}
                    <dl class="row">
                        <dt class="tit">
                            <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                        </dt>
                        <dd class="opt">
                            <textarea id="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]">{$vo.dfvalue|default=''}</textarea>
                            <div class="opt-moreOper">
                                <p>
                                    <a href="javascript:void(0);" onclick="remote_to_local_{$vo.fieldArr}_{$vo.name|default=''}();" class="ncap-btn2">远程图片本地化</a>&nbsp;
                                    <a href="javascript:void(0);" onclick="replace_links_{$vo.fieldArr}_{$vo.name|default=''}();" class="ncap-btn2">清除非本站链接</a>&nbsp;
                                </p>
                            </div>
                            <span class="err"></span>
                            <p class="notic">{$vo.remark|default=''}</p>
                        </dd>
                    </dl>
                    <script type="text/javascript">
                        // 加载编辑器，若存在编辑器则先进行销毁
                        try {
                            var elemtid = "{$vo.fieldArr}_{$vo.name|default=''}";
                            var editor = CKEDITOR.instances[elemtid];
                            if (editor) editor.destroy(true);
                        } catch(e) {}

                        CKEDITOR.replace(elemtid, {
                            filebrowserBrowseUrl: "{:url('Ueditor/index', ['savepath'=>'ueditor', 'action'=>'uploadimage'])}",
                            filebrowserImageBrowseUrl: "{:url('Ueditor/index', ['savepath'=>'ueditor', 'action'=>'uploadimage'])}",
                            filebrowserUploadUrl: "{:url('Ueditor/index', ['savepath'=>'ueditor', 'action'=>'uploadimage'])}",
                            filebrowserImageUploadUrl: "{:url('Ueditor/index', ['savepath'=>'ueditor', 'action'=>'uploadimage'])}",
                        });

                        // 远程图片本地化
                        function remote_to_local_{$vo.fieldArr}_{$vo.name|default=''}() {
                            var body = CKEDITOR.instances.{$vo.fieldArr}_{$vo.name|default=''}.getData();
                            layer_loading('下载中');
                            $.ajax({
                                type: 'POST',
                                url: "{:url('Archives/ajax_remote_to_local')}",
                                data: {body:body,_ajax:1},
                                dataType: "JSON",
                                success: function(res){
                                    layer.closeAll();
                                    if (res.code == 1) {
                                        CKEDITOR.instances.{$vo.fieldArr}_{$vo.name|default=''}.setData(res.data.body);
                                        layer.msg(res.msg, {icon: 1, time:1000});
                                    } else {
                                        showErrorMsg(res.msg);
                                    }
                                },
                                error: function(e){
                                    layer.closeAll();
                                    showErrorMsg(res.msg);
                                }
                            });
                        }

                        // 清除非本站链接
                        function replace_links_{$vo.fieldArr}_{$vo.name|default=''}() {
                            var body = CKEDITOR.instances.{$vo.fieldArr}_{$vo.name|default=''}.getData();
                            layer_loading('正在处理');
                            $.ajax({
                                type: 'POST',
                                url: "{:url('Archives/ajax_replace_links')}",
                                data: {body:body,_ajax:1},
                                dataType: "JSON",
                                success: function(res){
                                    layer.closeAll();
                                    if (res.code == 1) {
                                        CKEDITOR.instances.{$vo.fieldArr}_{$vo.name|default=''}.setData(res.data.body);
                                        layer.msg(res.msg, {icon: 1, time:1000});
                                    } else {
                                        showErrorMsg(res.msg);
                                    }
                                },
                                error: function(e){
                                    layer.closeAll();
                                    showErrorMsg(res.msg);
                                }
                            });
                        }
                    </script>
                {/eq}
                <!-- HTML文本 end -->
            {/case}

            <!-- 多媒体类型 start -->
            {case value="media"}
                <dl class="row">
                    <dt class="tit">
                        <label>{if condition="isset($vo['ifrequire']) AND !empty($vo['ifrequire'])"}<em>*</em>{/if}{$vo.title|default=''}</label>
                    </dt>
                    <dd class="opt">
                            <input type="text" class="input-txt" id="{$vo.fieldArr}_{$vo.name|default=''}_media_url" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="{$vo.dfvalue|default=''}" style="width: 400px !important;" >
                            <!--<input  id="{$vo.fieldArr}_{$vo.name|default=''}_qiniu_click" type="file"  onchange="{$vo.fieldArr}_{$vo.name|default=''}_upload();" style="display: none;"/>-->
                            <!--<button type="button" class="layui-btn layui-btn-xs layui-btn-normal" id="{$vo.fieldArr}_{$vo.name|default=''}_qiniu_upload_media" onclick="{$vo.fieldArr}_{$vo.name|default=''}_click_qiniu()">七牛云上传</button>-->
                            <button type="button" class="layui-btn" id="{$vo.fieldArr}_{$vo.name|default=''}_upload_media">本地上传</button>
                        <span class="err"></span>
                        <p class="notic">{$vo.remark|default=''}</p>
                    </dd>
                </dl>
                <script>
                    layui.use('upload', function(){
                        var upload = layui.upload;
                        // var load;
                        //执行实例

                        //创建监听函数
                        var xhrOnProgress=function(fun) {
                            xhrOnProgress.onprogress = fun; //绑定监听
                            //使用闭包实现监听绑
                            return function() {
                                var xhr = $.ajaxSettings.xhr(); //通过此方法获得XMLHttpRequest对象
                                //判断监听函数是否为函数
                                if (typeof xhrOnProgress.onprogress !== 'function') {
                                    return xhr;
                                }
                                //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
                                if (xhrOnProgress.onprogress && xhr.upload) {
                                    xhr.upload.onprogress = xhrOnProgress.onprogress;
                                }
                                return xhr;
                            }
                        };

                        upload.render({
                            elem: "#{$vo.fieldArr}_{$vo.name|default=''}_upload_media" //绑定元素
                            ,url: "{:url('Ueditor/upVideo')}" //上传接口
                            ,accept: 'file' //普通文件
                            ,exts: '{$vo.ext}'
                            ,size: {$vo.filesize} //限制文件大小，单位 KB
                            ,before: function(obj){
                                $("#{$vo.fieldArr}_{$vo.name|default=''}_upload_media").text('等待中...');
                            }
                            ,xhr:xhrOnProgress
                            ,progress: function(percent) {
                                //上传进度回调 value进度值
                                $("#{$vo.fieldArr}_{$vo.name|default=''}_upload_media").text('上传中...'+percent+'%');
                            }
                            ,done: function(res){
                                if ("SUCCESS" == res.state) {
                                    $("#{$vo.fieldArr}_{$vo.name|default=''}_media_url").val(res.url);
                                    $("#{$vo.fieldArr}_{$vo.name|default=''}_upload_media").text('上传成功');
                                    setTimeout(function(){
                                        $("#{$vo.fieldArr}_{$vo.name|default=''}_upload_media").text('本地上传');
                                    }, 3000 )
                                }else {
                                    $("#{$vo.fieldArr}_{$vo.name|default=''}_upload_media").text('上传失败');
                                    setTimeout(function(){
                                        $("#{$vo.fieldArr}_{$vo.name|default=''}_upload_media").text('本地上传');
                                    }, 3000 )
                                    layer.msg(res.state,{icon: 2});
                                }
                            }
                            ,error: function(){
                                // layer.close(load); //关闭loading
                            }
                        });
                    });

                    // function {$vo.fieldArr}_{$vo.name|default=''}_click_qiniu()
                    // {
                    //     $("#{$vo.fieldArr}_{$vo.name|default=''}_qiniu_click").trigger("click");
                    // }
                    //
                    // function {$vo.fieldArr}_{$vo.name|default=''}_upload()
                    // {
                    //     $.ajax({
                    //         type: 'POST',
                    //         url: "{:url('Media/qiniu_upload')}",
                    //         data: {_ajax:1},
                    //         dataType: "JSON",
                    //         success: function(res){
                    //             if (1 == res.code){
                    //                 var token  = res.token;
                    //                 var formData = new FormData();
                    //                 var file = $("#{$vo.fieldArr}_{$vo.name|default=''}_qiniu_click")[0].files[0];  //获取文件路径名
                    //                 formData.append('file', file);
                    //                 formData.append('token', token);
                    //
                    //                 var fileName = file.name;
                    //                 var fileExt = fileName.substr(fileName.lastIndexOf('.')).toLowerCase();
                    //                 var fileName = randomString()+fileExt;
                    //                 formData.append('key', fileName);
                    //                 $.ajax({
                    //                     url: "http://up-z2.qiniup.com/",
                    //                     type: 'POST',
                    //                     dataType: 'JSON',
                    //                     data: formData,
                    //                     timeout: 1200000,
                    //                     cache: false,  //默认是true，但是一般不做缓存
                    //                     processData: false, //用于对data参数进行序列化处理，这里必须false；如果是true，就会将FormData转换为String类型
                    //                     contentType: false,  //一些文件上传http协议的关系，自行百度，如果上传的有文件，那么只能设置为false
                    //                     xhr: function () { //获取ajaxSettings中的xhr对象，为它的upload属性绑定progress事件的处理函数
                    //                         myXhr = $.ajaxSettings.xhr();
                    //                         if (myXhr.upload) { //检查upload属性是否存在
                    //                             //绑定progress事件的回调函数
                    //                             // myXhr.upload.addEventListener('progress', progressHandlingFunction, false);
                    //                             myXhr.upload.addEventListener('progress', function(e){
                    //                                 var curr = e.loaded;
                    //                                 var total = e.total;
                    //                                 process = parseInt(curr / total * 100);
                    //                                 $("#{$vo.fieldArr}_{$vo.name|default=''}_qiniu_upload_media").text('上传中...'+process+"%");
                    //                             });
                    //                         }
                    //
                    //                         return myXhr; //xhr对象返回给jQuery使用
                    //                     },
                    //                     success: function(res){
                    //                         $("#{$vo.fieldArr}_{$vo.name|default=''}_media_url").val("http://qiniu.ebuycms.com/"+res.key);
                    //                         $("#{$vo.fieldArr}_{$vo.name|default=''}_qiniu_upload_media").text('上传成功');
                    //                         setTimeout(function(){
                    //                             $("#{$vo.fieldArr}_{$vo.name|default=''}_qiniu_upload_media").text('七牛云上传');
                    //                         }, 3000 )
                    //                     },
                    //                     error: function(e){
                    //                         showErrorMsg('请求上传失败！');
                    //                         return false;
                    //                     }
                    //                 });
                    //             }else{
                    //                 showErrorMsg(res.msg);
                    //             }
                    //         },
                    //         error: function(e){
                    //             showErrorMsg(e);
                    //         }
                    //     });
                    // }
                </script>
            {/case}
            <!-- 多媒体类型 end -->
        {/switch}
    {/if}
{/volist}