{include file="public/layout" /}

<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="flexigrid">
        <div class="mDiv">
            <form id="searchForm" class="navbar-form form-inline" action="{:url('AdPosition/index')}" method="get" onsubmit="layer_loading('正在处理');">
                {$searchform.hidden|default=''}
                <div class="sDiv">
                    <div class="sDiv2">
                        <input type="text" size="30" name="keywords" value="{$Request.param.keywords}" class="qsbox" placeholder="名称搜索...">
                        <input type="submit" class="btn" value="搜索">
						<i class="fa fa-search"></i>
                    </div>
                </div>
            </form>
        </div>

        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                        <tr>
                            {eq name='$main_lang' value='$admin_lang'}
                                <th class="sign w40" axis="col0">
                                    <div class="tc"><input type="checkbox" class="checkAll"></div>
                                </th>
                            {/eq}

                            <th abbr="article_title" axis="col3" class="w60">
                                <div class="tc">ID</div>
                            </th>

                            <th abbr="article_title" axis="col3">
                                <div class="tl text-l10" style="width: 100%">真实姓名</div>
                            </th>

                            <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">证件类型</div>
                            </th>

                            <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">身份证号</div>
                            </th>
                            
                            <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">身份证正面</div>
                            </th>
                            
                            <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">身份证反面</div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">学历</div>
                            </th>

                            <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">学校</div>
                            </th>
                           <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">认证头衔</div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">学历证明</div>
                            </th>
                          <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">申请时间</div>
                            </th>
                            
                            <th abbr="article_time" axis="col6" class="w60">
                                <div class="tc">审核</div>
                            </th>

                            <th axis="col1" class="w180">
                                <div class="tc">操作</div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                    {empty name="list"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                            </td>
                        </tr>
                    {else/}
                        {foreach name="list" item="vo" key="k" }
                            <tr>
                                {eq name='$main_lang' value='$admin_lang'}
                                <td class="sign">
                                    <div class="w40 tc"> <input type="checkbox" name="ids[]" value="{$vo.id}"> </div>
                                </td>
                                {/eq}
                                <td>
                                    <div class="tc w60"> {$vo.id} </div>
                                </td>

                                <td align="left" style="width:100%;">
                                    <div class="tl text-l10">
                                        {$vo.name}
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w120"> 
                                    {if $vo.document_type == 1}
                                    身份证
                                    {else /}
                                    护照
                                    {/if}
                                    </div>
                                </td>
                               <td>
                                    <div class="tc w120"> 
                                        {$vo.id_number}
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w120"> 
                                        <ul class="adpic">
                                            <li>
                                                <img src="{$vo.id_litpic}" data-img-src="{$vo.id_litpic}">
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w120"> 
                                        <ul class="adpic">
                                            <li>
                                                <img src="{$vo.id_litpic1}" data-img-src="{$vo.id_litpic1}">
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w120"> 
                                        {$vo.education}
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w120"> 
                                        {$vo.school}
                                    </div>
                                </td>
                                 <td>
                                    <div class="tc w120"> 
                                        {$vo.title}
                                    </div>
                                </td>
                                 <td>
                                    <div class="tc w120"> 
                                        <ul class="adpic">
                                            <li>
                                                <img src="{$vo.certificate}" data-img-src="{$vo.certificate}">
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                 <td>
                                    <div class="tc w120"> 
                                         {$vo.add_time|date='Y-m-d',###}
                                    </div>
                                </td>
                               <td>
                                    <div class="tc w120"> 
                                    {if condition="$vo['status'] eq 1"}
                                            <span class="yes" {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}onClick="changeTableVal('users_authentication','id','{$vo.id}','status',this);"{/eq} ><i class="fa fa-check-circle"></i>是</span>
                                        {else /}
                                            <span class="no" {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}onClick="changeTableVal('users_authentication','id','{$vo.id}','status',this);"{/eq} ><i class="fa fa-ban"></i>否</span>
                                    {/if}
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w120">
                                        <ul class="adpic">
                                             <a class="btn red"  href="javascript:void(0);" data-url="{:url('RealName/del')}" data-id="{$vo.id}" onClick="delfun(this);">删除</a>
                                             <i></i>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {/foreach}
                    {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>

        <div class="tDiv">
            <div class="tDiv2">
                {eq name='$main_lang' value='$admin_lang'}
                    <div class="fbutton checkboxall"> <input type="checkbox" class="checkAll"> </div>
                    {eq name="$Think.const.CONTROLLER_NAME.'@del'|is_check_access" value="1"}
                        <div class="fbutton">
                            <a onclick="batch_del(this, 'ids');" data-url="{:url('AdPosition/del')}" class="layui-btn layui-btn-primary">批量删除</a>
                        </div>
                    {/eq}
                {/eq}
                <!-- 分页 -->
                {include file="public/page" /}
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>


<div id="hi-img-pop">
    <div href="javascript:;" class="hi-close"></div>
    <img src="" alt="">
</div>
<style>
    /* 图片弹窗 */
        
        #hi-img-pop {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        #hi-img-pop * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        #hi-img-pop .hi-close {
            position: fixed;
            top: 86%;
            left: 50%;
            margin-left: -25px;
            width: 50px;
            height: 50px;
            color: #fff;
            background: #fff;
            border-radius: 50%;
            transition: .5s;
            cursor: pointer;
        }
        
        #hi-img-pop .hi-close:after,
        #hi-img-pop .hi-close:before {
            content: "";
            position: absolute;
            bottom: 24px;
            left: 10px;
            width: 30px;
            height: 2px;
            background: #333;
            transition: .5s;
        }
        
        #hi-img-pop .hi-close:hover {
            background: #019dee;
        }
        
        #hi-img-pop .hi-close:hover:after,
        #hi-img-pop .hi-close:hover:before {
            background: #fff;
        }
        
        #hi-img-pop .hi-close:after {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        #hi-img-pop .hi-close:before {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        
        #hi-img-pop img {
            position: fixed;
            left: 50%;
            top: 50%;
            max-width: 90%;
            max-height: 70%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
</style>

<script type="text/javascript">
    $(function() {
        $('input[name*=ids]').click(function() {
            if ($('input[name*=ids]').length == $('input[name*=ids]:checked').length) {
                $('.checkAll').prop('checked', 'checked');
            } else {
                $('.checkAll').prop('checked', false);
            }
        });
        $('input[type=checkbox].checkAll').click(function() {
            $('input[type=checkbox]').prop('checked', this.checked);
        });
    });
    
    $(document).ready(function() {
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function() {
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function() {
            location.href = location.href;
        });

        $('#searchForm select[name=type]').change(function(){
            $('#searchForm').submit();
        });
    });

    /**
     * 代码调用js
     * @param id  id
     * @param limit 条数
     */
    function copyToClipBoard(id, limit, type) {
        var advstr = '';
        if (1 == type) {
            advstr = "{eyou:adv pid='" + id + "'}\r\n   <img src='{$"+"field.litpic}' alt='{$"+"field.title}' />\r\n{/eyou:adv";
        } else if (2 == type) {
            advstr = "{eyou:adv pid='" + id + "'}\r\n   <video src='{$"+"field.litpic}' controls preload='auto' oncontextmenu='return fase'></video>\r\n{/eyou:adv";
        } else if (3 == type) {
            advstr = "{eyou:adv pid='" + id + "'}\r\n   {$"+"field.intro}\r\n{/eyou:adv";
        }
        var contentdiv = '<div class="dialog_content" style="margin: 0px; padding: 0px;"><dl style="padding:10px 30px;line-height:30px"><dd>标签 adv 调用：</dd>';
        contentdiv += '<textarea rows="4" cols="60" style="width:400px;height:60px;">' + advstr + '}</textarea>';
        contentdiv += '<dd>JavaScript：</dd>';
        contentdiv += '<dd><input type="text" style=" width:400px;" value="<script type=&quot;text/javascript&quot; src=&quot;http://' + '{$Think.server.http_host}' + '/index.php?m=api&amp;c=Other&amp;a=other_show&amp;pid=' + id + '&amp;row='+limit+'&quot;><\/script>"></dd>';
        contentdiv += '<dd style="border-top: dotted 1px #E7E7E7; color: #F60;">请将标签adv或JavaScript代码复制并粘贴到对应模板文件中！</dd></dl></div>';
        layer.open({
            title: '代码调用',
            type: 1,
            skin: 'layui-layer-demo',
            area: ['480px', '280px'], //宽高
            content: contentdiv
        });
    }

    function HiImgPop(obj) {
        var oImgBox = $("#hi-img-pop"); //弹窗
        var oClose = oImgBox.find(".hi-close"); //关闭按钮
        var oImg = oImgBox.find("img"); //图片标签
        // 点击显示弹窗，设置图片src
        obj.each(function() {
            $(this).click(function() {
                oImgBox.stop().fadeIn();
                oImg.attr("src", $(this).attr("data-img-src"));
            });
        });
        // 点击关闭弹窗
        oClose.click(function() {
            oImgBox.stop().fadeOut();
        });
    }
    // 调用
    HiImgPop($(".adpic li img"));

</script>

{include file="public/footer" /}