
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="{if condition="'Wordfilter' == $Request.param.sc && 'index' == $Request.param.sa"}{:url("Weapp/index")}{else /}{:weapp_url("Wordfilter/Wordfilter/index")}{/if}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>{$weappInfo['name']}</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li>
                    <a href="{:weapp_url("Wordfilter/Wordfilter/index")}" class="tab current"><span>敏感词列表</span></a>
                </li>
            </ul>
        </div>
    </div>