{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;min-width: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width: auto;">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>插件配置</h3>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <a href="{$HomeAskUrl}" target="_blank" class="btn blue">点击预览问答主页</a>
            <div class="sDiv">
                <div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
                    <input type="button" class="btn {if condition="!in_array($Request.param.sa, ['index'])"}current{/if}" value="栏目列表" onclick="window.location.href='{:weapp_url("Ask/Ask/index")}';">
                </div>
                <div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
                    <input type="button" class="btn {if condition="!in_array($Request.param.sa, ['conf'])"}current{/if}" value="插件配置" onclick="window.location.href='{:weapp_url("Ask/Ask/conf")}';">
                </div>
            </div>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                    <tr>
                        <th abbr="article_show" axis="col5" class="w10">
                            <div class="tc"></div>
                        </th>
                        <th abbr="ac_id" axis="col4">
                            <div class="">会员级别名称</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w100">
                            <div class="tc">允许发布</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w100">
                            <div class="tc">需要审核</div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <form id="PostForm">
                <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                    <table style="width: 100%">
                        <tbody>
                        {empty name="list"}
                            <tr>
                                <td class="no-data" align="center" axis="col0" colspan="50">
                                    <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                                </td>
                            </tr>
                        {else/}
                            {volist name="list" id="vo"}
                            <tr>
                                <td class="sort">
                                    <div class="w10 tc">
                                    </div>
                                </td>
                                <td style="width: 100%">
                                    <div style="">
                                        {$vo.level_name}
                                    </div>
                                </td>
                                <td class="">
                                    <div class="w100 tc">
                                        {eq name="$vo['ask_is_release']" value='1'}
                                            <span class="yes" onclick="changeTableVal('users_level','level_id','{$vo.level_id}','ask_is_release',this);">
                                                <i class="fa fa-check-circle"></i>是
                                            </span>
                                        {else /}
                                            <span class="no" onclick="changeTableVal('users_level','level_id','{$vo.level_id}','ask_is_release',this);">
                                                <i class="fa fa-ban"></i>否
                                            </span>
                                        {/eq}
                                    </div>
                                </td>
                                <td class="">
                                    <div class="w100 tc">
                                        {eq name="$vo['ask_is_review']" value='1'}
                                            <span class="yes" onclick="changeTableVal('users_level','level_id','{$vo.level_id}','ask_is_review',this);">
                                                <i class="fa fa-check-circle"></i>是
                                            </span>
                                        {else /}
                                            <span class="no" onclick="changeTableVal('users_level','level_id','{$vo.level_id}','ask_is_review',this);">
                                                <i class="fa fa-ban"></i>否
                                            </span>
                                        {/eq}
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        {/empty}
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <div class="tDiv">
            <div class="tDiv2"><div class="fbutton"></div></div>
            <div style="clear:both"></div>
        </div>
        <!--分页位置-->
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });
</script>
{include file="footer.htm" /}
