{include file="public/layout" /}

<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="flexigrid">
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                        <tr>
                            {eq name='$main_lang' value='$admin_lang'}
                                <th class="sign w40" axis="col0">
                                    <div class="tc"><input type="checkbox" class="checkAll"></div>
                                </th>
                            {/eq}

                            <th abbr="article_title" axis="col3" class="w60">
                                <div class="tc">ID</div>
                            </th>
                           <th abbr="article_title" axis="col3">
                                <div class="tl text-l10" style="width: 100%">举报人</div>
                            </th>
                           <th abbr="article_title" axis="col3">
                                <div class="tl text-l10" style="width: 100%">帖子名称</div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">举报内容</div>
                            </th>
                           <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">举报时间</div>
                            </th>
                            <th axis="col1" class="w180">
                                <div class="tc">操作</div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                    {empty name="pro"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                            </td>
                        </tr>
                    {else/}
                        {foreach name="pro" item="vo" key="k" }
                            <tr>
                                {eq name='$main_lang' value='$admin_lang'}
                                <td class="sign">
                                    <div class="w40 tc"> <input type="checkbox" name="ids[]" value="{$vo.id}"> </div>
                                </td>
                                {/eq}
                                <td>
                                    <div class="tc w60"> {$vo.id} </div>
                                </td>

                                <td align="left" style="width:100%;">
                                    <div class="tl text-l10">
                                    {$vo.username}
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w100"> {$vo.ask_title} </div>
                                </td>
                                <td>
                                    <div class="tc w100"> {$vo.content} </div>
                                </td>
                                <td>
                                    <div class="tc w100"> {$vo.add_time|date='Y-m-d',###}</div>
                                </td>
                                <td class="operation">
                                    <div class="w180 tc">
                                        <a class="btn red"  href="javascript:void(0);" data-url="{:url('Report/del')}" data-id="{$vo.id}"  onClick="delfun(this);">删除</a>
                                    <i></i>
                                    </div>
                                </td>
                            </tr>
                        {/foreach}
                    {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>

        <div class="tDiv">
            <div class="tDiv2">
                <!-- 分页 -->
                {include file="public/page" /}
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    
    function samplefun(obj){
        var title = $(obj).attr('data-typename');
        layer.confirm('请确认要驳回？', {
            title: false,
            btn: ['确定','取消'] //按钮
        }, function(){
            alert($(obj).attr('data-url'));
            layer_loading('正在处理');
            // 确定
            $.ajax({
                type : 'post',
                url : $(obj).attr('data-url'),
                data : {del_id:$(obj).attr('data-id'),_ajax:1},
                dataType : 'json',
                success : function(data){
                    layer.closeAll();
                    if(data.code == 1){
                        layer.msg(data.msg, {icon: 1});
                        window.location.reload();
                        // $('tr[data-id="'+$(obj).attr('data-id')+'"]').remove();
                    }else{
                        layer.alert(data.msg, {icon: 2, title:false});  //alert(data);
                    }
                }
            })
        }, function(index){
            layer.close(index);
        });
        return false;
    }
    
     function examinefun(obj){
        var title = $(obj).attr('data-typename');
        layer.confirm('请确认审核？', {
            title: false,
            btn: ['确定','取消'] //按钮
        }, function(){
            alert($(obj).attr('data-url'));
            layer_loading('正在处理');
            // 确定
            $.ajax({
                type : 'post',
                url : $(obj).attr('data-url'),
                data : {del_id:$(obj).attr('data-id'),_ajax:1},
                dataType : 'json',
                success : function(data){
                    layer.closeAll();
                    if(data.code == 1){
                        layer.msg(data.msg, {icon: 1});
                        window.location.reload();
                        // $('tr[data-id="'+$(obj).attr('data-id')+'"]').remove();
                    }else{
                        layer.alert(data.msg, {icon: 2, title:false});  //alert(data);
                    }
                }
            })
        }, function(index){
            layer.close(index);
        });
        return false;
    }


</script>

{include file="public/footer" /}