{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv" style="display: flex;">
            <div class="ftitle" style="height: auto;">
                <h3>点赞详细介绍：</h3>
				<span style="font-size: 14px;color: #333;display:block;text-indent: 8px;padding: 10px 0px;line-height: 10px;">一：本点赞插件七月二十号更新支持游客点赞，支持会员点赞！</span>
				<span style="font-size: 14px;color: #333;display:block;text-indent: 8px;padding: 10px 0px;line-height: 10px;">二：本点赞插件十一月十五号更新列表显示点赞！</span>
				<span style="font-size:14px;color: #333;display:block;text-indent:8px;padding:10px 0px;line-height: 10px;">三：内容页点赞复制以下代码到{literal}{$eyou.field.content}{/literal}下方即可，请勿粘贴到首页和列表页！</span>
				<span style="font-size:14px;color: #333;display:block;text-indent:8px;padding:10px 0px;line-height: 10px;">四：列表页点赞复制以下代码到{literal}{eyou:list pagesize='10' titlelen='30' infolen='160' orderby='add_time'}
代码
{/eyou:list}{/literal}需要放的位置即可，支持列表和首页</span>
				<span style="font-size:14px;color: #333;display:block;text-indent:8px;padding:10px 0px;line-height: 10px;">五：感谢大家的支持！新增了列表页面显示点赞数量</span>
            </div>
        </div>
		<div class="mDiv">
            <div class="ftitle" style="height: auto;">
                <h3>内容页点赞调用代码：{literal}{eyou:include file="/template/plugins/zan/pc/index.htm" /} {/literal}</h3></br>
				<h3>存在mobile文件夹内容页点赞调用代码：{literal}{eyou:include file="/template/plugins/zan/mobile/index.htm" /} {/literal}</h3></br>
				<h3>列表页点赞调用代码：{literal}{eyou:include file="/template/plugins/zan/pc/index_list.htm" /} {/literal}</h3></br>
				<h3>存在mobile文件夹列表页点赞调用代码：{literal}{eyou:include file="/template/plugins/zan/mobile/index_list.htm" /} {/literal}</h3>
            </div>
        </div>
        
		
    </div>
</div>

{include file="footer.htm" /}
