{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv" style="display: flex;">
            <div class="ftitle" style="height: auto;">
                <h3>点赞详细介绍：</h3>
				<span style="font-size: 14px;color: #333;display:block;text-indent: 8px;padding: 10px 0px;line-height: 10px;">一：本点赞插件七月二十号更新支持游客点赞，支持会员点赞！</span>
				<span style="font-size:14px;color: #333;display:block;text-indent:8px;padding:10px 0px;line-height: 10px;">二：复制以下代码到内容页{literal}{$eyou.field.content}{/literal}下方即可，请勿粘贴到首页和列表页！</span>
				<span style="font-size:14px;color: #333;display:block;text-indent:8px;padding:10px 0px;line-height: 10px;">三：目前样式只有一种！由于作者是小白，已经在慢慢学习中！</span>
            </div>
        </div>
		<div class="mDiv">
            <div class="ftitle" style="height: auto;">
                <h3>点赞调用代码：{literal}{eyou:include file="/template/plugins/zan/pc/index.htm" /} {/literal}</h3>
            </div>
        </div>
        
		
    </div>
</div>

{include file="footer.htm" /}
