{include file="public/layout" /}

<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="flexigrid">
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                        <tr>
                            {eq name='$main_lang' value='$admin_lang'}
                                <th class="sign w40" axis="col0">
                                    <div class="tc"><input type="checkbox" class="checkAll"></div>
                                </th>
                            {/eq}

                            <th abbr="article_title" axis="col3" class="w60">
                                <div class="tc">ID</div>
                            </th>
                           <th abbr="article_title" axis="col3">
                                <div class="tl text-l10" style="width: 100%">产品名称</div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">研发项目名称</div>
                            </th>
                           <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">申请数量</div>
                            </th>
                           <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">期望交期</div>
                            </th>
                           <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">公司名称</div>
                            </th>
                           <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">邮箱</div>
                            </th>
                           <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">收件姓名</div>
                            </th>
                           <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">手机号</div>
                            </th>
                             <th abbr="article_title" axis="col3" class="w100">
                                <div class="tc">提交时间</div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">产品图片</div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w120">
                                <div class="tc">提交用户</div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                    {empty name="inquiry"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                            </td>
                        </tr>
                    {else/}
                        {foreach name="inquiry" item="vo" key="k" }
                            <tr>
                                {eq name='$main_lang' value='$admin_lang'}
                                <td class="sign">
                                    <div class="w40 tc"> <input type="checkbox" name="ids[]" value="{$vo.id}"> </div>
                                </td>
                                {/eq}
                                <td>
                                    <div class="tc w60"> {$vo.id} </div>
                                </td>

                                <td align="left" style="width:100%;">
                                    <div class="tl text-l10">
                                        {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}
                                        {$vo.titles}
                                        {else /}
                                            {$vo.titles}
                                        {/eq}
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w100"> {$vo.title} </div>
                                </td>
                                <td>
                                    <div class="tc w100"> {$vo.num} </div>
                                </td>
                               <td>
                                    <div class="tc w100"> {$vo.delivery} </div>
                                </td>
                                       <td>
                                    <div class="tc w100"> {$vo.company} </div>
                                </td>
                               <td>
                                    <div class="tc w100"> {$vo.email} </div>
                                </td>
                                       <td>
                                    <div class="tc w100"> {$vo.username} </div>
                                </td>
                               <td>
                                    <div class="tc w100"> {$vo.phone} </div>
                                </td>
                               <td>
                                    <div class="tc w100"> {$vo.add_time|date='Y-m-d',###} </div>
                                </td>
                                
                                <td>
                                    <div class="tc w120">
                                        <ul class="adpic">
                                            <li>
                                                <img src="{$vo.litpic}" data-img-src="{$vo.litpic}">
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="tc w100"> {$vo.name} </div>
                                </td>
                            </tr>
                        {/foreach}
                    {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>

        <div class="tDiv">
            <div class="tDiv2">
                {eq name='$main_lang' value='$admin_lang'}
                    <div class="fbutton checkboxall"> <input type="checkbox" class="checkAll"> </div>
                    {eq name="$Think.const.CONTROLLER_NAME.'@del'|is_check_access" value="1"}
                        <div class="fbutton">
                            <a onclick="batch_del(this, 'ids');" data-url="{:url('AdPosition/del')}" class="layui-btn layui-btn-primary">批量删除</a>
                        </div>
                    {/eq}
                {/eq}
                <!-- 分页 -->
                {include file="public/page" /}
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>

    <div id="hi-img-pop">
        <div href="javascript:;" class="hi-close"></div>
        <img src="" alt="">
    </div>
<style>
    /* 图片弹窗 */
        
        #hi-img-pop {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        #hi-img-pop * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        #hi-img-pop .hi-close {
            position: fixed;
            top: 86%;
            left: 50%;
            margin-left: -25px;
            width: 50px;
            height: 50px;
            color: #fff;
            background: #fff;
            border-radius: 50%;
            transition: .5s;
            cursor: pointer;
        }
        
        #hi-img-pop .hi-close:after,
        #hi-img-pop .hi-close:before {
            content: "";
            position: absolute;
            bottom: 24px;
            left: 10px;
            width: 30px;
            height: 2px;
            background: #333;
            transition: .5s;
        }
        
        #hi-img-pop .hi-close:hover {
            background: #019dee;
        }
        
        #hi-img-pop .hi-close:hover:after,
        #hi-img-pop .hi-close:hover:before {
            background: #fff;
        }
        
        #hi-img-pop .hi-close:after {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        #hi-img-pop .hi-close:before {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        
        #hi-img-pop img {
            position: fixed;
            left: 50%;
            top: 50%;
            max-width: 90%;
            max-height: 70%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
</style>

<script type="text/javascript">
    $(function() {
        $('input[name*=ids]').click(function() {
            if ($('input[name*=ids]').length == $('input[name*=ids]:checked').length) {
                $('.checkAll').prop('checked', 'checked');
            } else {
                $('.checkAll').prop('checked', false);
            }
        });
        $('input[type=checkbox].checkAll').click(function() {
            $('input[type=checkbox]').prop('checked', this.checked);
        });
    });
    
    $(document).ready(function() {
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function() {
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function() {
            location.href = location.href;
        });

        $('#searchForm select[name=type]').change(function(){
            $('#searchForm').submit();
        });
    });
    
    function samplefun(obj){
        var title = $(obj).attr('data-typename');
        layer.confirm('请确认要驳回？', {
            title: false,
            btn: ['确定','取消'] //按钮
        }, function(){
            alert($(obj).attr('data-url'));
            layer_loading('正在处理');
            // 确定
            $.ajax({
                type : 'post',
                url : $(obj).attr('data-url'),
                data : {del_id:$(obj).attr('data-id'),_ajax:1},
                dataType : 'json',
                success : function(data){
                    layer.closeAll();
                    if(data.code == 1){
                        layer.msg(data.msg, {icon: 1});
                        window.location.reload();
                        // $('tr[data-id="'+$(obj).attr('data-id')+'"]').remove();
                    }else{
                        layer.alert(data.msg, {icon: 2, title:false});  //alert(data);
                    }
                }
            })
        }, function(index){
            layer.close(index);
        });
        return false;
    }
    
     function examinefun(obj){
        var title = $(obj).attr('data-typename');
        layer.confirm('请确认审核？', {
            title: false,
            btn: ['确定','取消'] //按钮
        }, function(){
            alert($(obj).attr('data-url'));
            layer_loading('正在处理');
            // 确定
            $.ajax({
                type : 'post',
                url : $(obj).attr('data-url'),
                data : {del_id:$(obj).attr('data-id'),_ajax:1},
                dataType : 'json',
                success : function(data){
                    layer.closeAll();
                    if(data.code == 1){
                        layer.msg(data.msg, {icon: 1});
                        window.location.reload();
                        // $('tr[data-id="'+$(obj).attr('data-id')+'"]').remove();
                    }else{
                        layer.alert(data.msg, {icon: 2, title:false});  //alert(data);
                    }
                }
            })
        }, function(index){
            layer.close(index);
        });
        return false;
    }
    
    function HiImgPop(obj) {
        var oImgBox = $("#hi-img-pop"); //弹窗
        var oClose = oImgBox.find(".hi-close"); //关闭按钮
        var oImg = oImgBox.find("img"); //图片标签
        // 点击显示弹窗，设置图片src
        obj.each(function() {
            $(this).click(function() {
                oImgBox.stop().fadeIn();
                oImg.attr("src", $(this).attr("data-img-src"));
            });
        });
        // 点击关闭弹窗
        oClose.click(function() {
            oImgBox.stop().fadeOut();
        });
    }
    // 调用
    HiImgPop($(".adpic li img"));


</script>

{include file="public/footer" /}